<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429059812926-75ghtfpv1qeuvq0bu9nu5m8b9r22nv2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429059812926-75ghtfpv1qeuvq0bu9nu5m8b9r22nv2p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>429059812926-nu6ceqksbt9mmrtiap7mj2mjp7ntnjuf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA80rcXD9WndQEns67bOztiPvv7RWkGvYo</string>
	<key>GCM_SENDER_ID</key>
	<string>429059812926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saslApp</string>
	<key>PROJECT_ID</key>
	<string>wpiha-sasl-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wpiha-sasl-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429059812926:ios:a9073990d864bda871ab6f</string>
</dict>
</plist>